<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/controller.css') }}">


    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-toggle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/three.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui_elements.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <a class="navbar-brand" href="#">DrDrone Dashboard</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <main class="col-sm-12 col-md-12  pt-3">
            <h1>Flight Control</h1>

            <div class="row text-center switches">
                <div class="col-6 col-sm-3 switch">
                    <div class="card">
                        <br class="card-block">
                        <h3 class="card-title">Drone Switches</h3>
                        <div class="form-group row">
                            <label for="arm" class="offset-1 col-3 col-form-label">Arm:</label>
                            <div class="col-6">
                                <input id="arm" type="checkbox">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-10 offset-1">
                                <button type="button" id="abort" class="btn btn-danger btn-lg btn-block" disabled>
                                    Abort
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3 switch">
                    <div class="card">
                        <div class="card-block">
                            <h3 class="card-title">Drone Status</h3>
                            Armed: <span id="status"></span><br>
                            Roll: <span id="roll"></span><br>
                            Pitch: <span id="pitch"></span><br>
                            Yaw: <span id="yaw"></span><br>
                            Throttle: <span id="throttle"></span><br>
                            <hr>
                            Battery Voltage: <span id="vbat"></span><br>
                            Amperage: <span id="amperage"></span><br>
                            <hr>
                            Angle X: <span id="angx"></span><br>
                            Angle Y: <span id="angy"></span><br>
                            Heading: <span id="heading"></span><br>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 switch">
                    <div class="card">
                        <div class="card-block">
                            <div id="canvas_wrapper">
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12 col-sm-6 dpad-card">
                    <div class="card">
                        <div class="card-block">
                            <span class="disabler"></span>
                            <h3 class="card-title">Stick 1</h3>
                            <div id="dpad-throttle-yaw">
                                <div>
                                    <div class="dpad-arrow dpad-arrow-up"></div>
                                    <div class="dpad-arrow dpad-arrow-down"></div>
                                    <div class="dpad-arrow dpad-arrow-left"></div>
                                    <div class="dpad-arrow dpad-arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 dpad-card">
                    <div class="card">
                        <div class="card-block">
                            <span class="disabler"></span>
                            <h3 class="card-title">Stick 2</h3>
                            <div id="dpad-pitch-roll">
                                <div>
                                    <div class="dpad-arrow dpad-arrow-up"></div>
                                    <div class="dpad-arrow dpad-arrow-down"></div>
                                    <div class="dpad-arrow dpad-arrow-left"></div>
                                    <div class="dpad-arrow dpad-arrow-right"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>